* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 50px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 50px;
}

p,
.togglable {
  background: lightgray;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: black;
  transition-duration: 0.2s;
}

a:visited {
  color: black;
  transition-duration: 0.2s;
}

a:hover {
  color: #777;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(79, 81, 211);
  border: none;
  border-radius: 6px;
  transition-duration: 0.4s;
  margin: 2px;
}

.button:hover {
  background-color: #bdbdbd;
}

.likeButton {
  display: inline-block;
  padding: 3px 7px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(24, 230, 69);
  border: none;
  border-radius: 6px;
  transition-duration: 0.4s;
  margin: 2px;
}

.likeButton:hover {
  background-color: rgb(78, 233, 112);
}

.deleteButton {
  display: inline-block;
  padding: 3px 7px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(230, 80, 80);
  border: none;
  border-radius: 6px;
  transition-duration: 0.4s;
  margin: 2px;
}

.deleteButton:hover {
  background-color: #ff0909;
}

input {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px;
  margin: 5px 5px;
}

/* || collabsible blog content */
.blogArea {
  padding: 3px;
  background-color: white;
  border: solid;
  border-width: 5px;
  border-color: #bebebe;
  border-radius: 5px;
  max-width: 700px;
  margin: auto;
}

.blogContent {
  padding: 10px;
  background-color: #bebebe;
  text-align: center;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  text-align: center;
  transition-duration: 0.2s;
}

.active,
.collapsible:hover {
  background-color: #555;
}

/* || pop-up notification */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: lightgray;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .alertContent {
  color: red;
  font-size: 20px;
  font-weight: bold;
  overflow: auto;
}

.popup .attentionContent {
  color: green;
  font-size: 20px;
  font-weight: bold;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}

.alert {
  color: red;
  background: lightgray;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.attention {
  color: green;
  background: lightgray;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
